<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">TELAS</div>
                
                <a class="nav-link" href="/home/funcionario">
                    <div class="sb-nav-link-icon"><i class="fas fa-address-card"></i></div>
                    Gerenciar Funcionários
                </a>
                <a class="nav-link" href="/home/obra">
                    <div class="sb-nav-link-icon"><i class="fas fa-person-digging"></i></div>
                    Gerenciar Obras
                </a>
                <a class="nav-link" href="">
                    <div class="sb-nav-link-icon"><i class="fas fa-sign-in-alt"></i></div>
                    Voltar ao Login
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Gerente
        </div>
    </nav>
</div>